.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
 }

/* Logo */
.logo-box {
    float: left;
    margin: 0 8rem;
}

.logo {
    width: 80%
}

/* Top wave image */
.top-wave {
    background-image: url(/img/top-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top -350px;
}

.move-forward-icon {
    transform: rotate(180deg);
}




