{% include 'Common/View/header.twig' %}
{% block body %}
	<body class="top-wave">
	{% endblock %}
	<section class="container">
		<h1 class="u-center-text">Krótki opis naszego zespołu T</h1><br><br><br>
		<p><strong>Daria Stasiak</strong>- młoda, prężna i niebywale głodna wiedzy. Absolutny ekspert w zaawansowanej technice ”ctrl C ctrl V”. Podjęła bardzo odważną decyzję o zmianie pracy i aktualnie stoi u progu świetlanej kariery jako programistka. Jej pasją jest taniec. <br><br>

		<strong>Aleksandra Staszewska</strong>- najmłodsza członkini zespołu, kwiat polskiej młodzieży. Podstawy programowania ma już w małym paluszku po liceum a aktualnie zamierza podbić jedną z prestiżowych uczelni na kierunku Informatyka. Jej pasją jest nauka języków obcych oraz zdobienie ciała tatuażami- ma ich aż 7. <br><br>

		<strong>Anna Sakławska</strong>- senior w zespole, niestety jeszcze długo nie senior developer. Pomimo dużych problemów z rozpoczynaniem, ambitnie podchodzi do wyznaczonych zadań. Uśmiech i śmiech to jej potężna broń, szczególnie jak nie wie o co chodzi. Jej pasją są podróże. <br>
</p>
		<h2 class="u-center-text">Poznaj nas bliżej</h2>
		<div class="row clearfix">
			<div class="person-box"> 
				<img src="/img/anna.svg" alt="Anna" class="person-box__img">
				<div class="person-box__description">
					<h3> Anna Sakławska</h3>
					<p> Front-end Developer</p>
				</div>
			</div>
			<div class="person-box">
				<img src="/img/daria.svg" alt="Daria" class="person-box__img">
				<div class="person-box__description">
					<h3> Daria Stasiak </h3>
					<p> Front-end Developer </p>
				</div>
			</div>
			<div class="person-box">
				<img src="/img/ola.svg" alt="Ola"class="person-box__img">
				<div class="person-box__description">
					<h3> Aleksandra Staszewska </h3>
					<p>Front-end Developer </p>
				</div>

			</div>
		</div>
		
		
	</section>
	{% include 'Common/View/footer.twig' %}
</body>
