{# {% include 'Common/View/header.twig' %}
{% block body %}
	<body class="top-wave">
	{% endblock %}
	<section class="container">
		<h1 class="u-center-text">Krótki opis naszego zespołu T</h1><br><br><br>
		<p><strong>Daria Stasiak</strong>- młoda, prężna i niebywale głodna wiedzy. Absolutny ekspert w zaawansowanej technice ”ctrl C ctrl V”. Podjęła bardzo odważną decyzję o zmianie pracy i aktualnie stoi u progu świetlanej kariery jako programistka. Jej pasją jest taniec. <br><br>

		<strong>Aleksandra Staszewska</strong>- najmłodsza członkini zespołu, kwiat polskiej młodzieży. Podstawy programowania ma już w małym paluszku po liceum a aktualnie zamierza podbić jedną z prestiżowych uczelni na kierunku Informatyka. Jej pasją jest nauka języków obcych oraz zdobienie ciała tatuażami- ma ich aż 7. <br><br>

		<strong>Anna Sakławska</strong>- senior w zespole, niestety jeszcze długo nie senior developer. Pomimo dużych problemów z rozpoczynaniem, ambitnie podchodzi do wyznaczonych zadań. Uśmiech i śmiech to jej potężna broń, szczególnie jak nie wie o co chodzi. Jej pasją są podróże. <br>
</p>
		<h2 class="u-center-text">Poznaj nas bliżej</h2>
		<div class="row clearfix">
			<div class="person-box"> 
				<img src="/img/anna.svg" alt="Anna" class="person-box__img">
				<div class="person-box__description">
					<h3> Anna Sakławska</h3>
					<p> Front-end Developer</p>
				</div>
			</div>
			<div class="person-box">
				<img src="/img/daria.svg" alt="Daria" class="person-box__img">
				<div class="person-box__description">
					<h3> Daria Stasiak </h3>
					<p> Front-end Developer </p>
				</div>
			</div>
			<div class="person-box">
				<img src="/img/ola.svg" alt="Ola"class="person-box__img">
				<div class="person-box__description">
					<h3> Aleksandra Staszewska </h3>
					<p>Front-end Developer </p>
				</div>

			</div>
		</div>
		
		
	</section>
	{% include 'Common/View/footer.twig' %}
</body> #}

{% include 'Common/View/header.twig' %}
{% block bodyClass %}
    <body class="top-wave">
    {% endblock %}
    <section class="container">
        <h1 class="u-center-text u-margin--small">O nas</h1>
        <p>Jesteśmy społecznością kobiet skupionych wokół IT i nowych technologii. Tworzymy przestrzeń, która sprzyja wymianie wiedzy i rozwojowi. Pomagamy rozwijać kompetencje zawodowe, wzmacniamy kobiety na stanowiskach liderskich, budujemy dobre relacje w społeczności. Równocześnie zapewniamy oczekiwane korzyści firmom, które angażują się we współpracę z nami w roli partnerów.</p>
        <p>W maju 2019 z grupy nieformalnej przekształciłyśmy się w zarejestrowane stowarzyszenie</p>
        <h2 class="u-center-text u-margin--medium">Poznaj nas bliżej</h2>
        <div class="row clearfix">
            <div class="col-sm-3 u-margin--small person-box">
                <img class="person-box__img" src="/img/code.svg" alt="Jola Wroniecka">
                <div class="person-box__description">
                    <h3 class="u-center-text u-margin-small">Jola Wroniecka</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
            <div class="col-sm-3 u-margin--small person-box">
                <img class="person-box__img" src="/img/code.svg" alt="Agnieszka Wypich">
                <div class="person-box__description">
                    <h3 class="u-center-text u-margin-small">Agnieszka Wypich</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
            <div class="col-sm-3 u-margin--small person-box">
                <img class="person-box__img" src="/img/arolka.PNG" alt="Aleksandra Rolka">
                <div class="person-box__description">
                    <h3 class="u-center-text u-margin-small">Aleksandra Rolka</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
        </div>
        <div class="row clearfix">
        <div class="col-sm-3 u-margin--small person-box">
                <img class="person-box__img" src="/img/code.svg" alt="Monika Młodzik">
                <div class="person-box__description">
                    <h3 class="u-center-text u-margin-small">Monika Młodzik</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
            <div class="col-sm-3 u-margin--small person-box">
                <img class="person-box__img" src="/img/code.svg" alt="Diana Kidacka">
                <div class="person-box__description">
                    <h3 class="u-center-text u-margin-small">Diana Kidacka</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
            <div class="col-sm-3 u-margin--small person-box">
                <img class="person-box__img" src="/img/code.svg" alt="Klara Gajaszek">
                <div class="person-box__description">
                    <h3 class="u-center-text u-margin-small">Klara Gajaszek</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
        </div>
    </section>
    {% include 'Common/View/footer.twig' %}
</body>