/* SINGLE POST PAGE */
.post-page__img { 
    width: 100%;
    height: 20rem;
    overflow: hidden;
    object-fit: fill;
}
​
.post-page__header {
    width: 100%;
}
​
​
.post-page-end__button--previous,
.post-page__author-info,
.post-page-end__button--next {
    float: left;
    width: 30%;
}
​
.post-page__author-info {
    width: 40%;
}
​
.post-page-end__button--next {
    float: right;
}
​
.post-page-end__button--previous { 
    text-align: left;
}
​
.post-page-end__button--next {
    text-align: right;
}
​
.author-box__img {
    text-align: center;
    float: left;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    background-color: antiquewhite;
}
​
​
.author-box__description {
    text-align: left;
}
​
.author-description {
    text-align: center;   
}
​
.author-title {
    text-transform: uppercase;
    font-weight: normal;
    font-weight: lighter;
}
​
.author-title {
    margin: 0;
}
​
.author-info--position {
    margin: 0;
}
​
.author-info--name {
    font-weight: bold;
}
​
.author-info--name {
    margin: .5rem 0;
}
​.container {
    font-family: 'Lato', sans-serif;
}