/* CONTACT PAGE */

/* assets/css/pages/_contact.css */
.contact-section {
    background-image: url(/img/contact-img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0rem bottom 0;
   
}
.u-center-text {
    text-align: center;
}
.form {
    /* padding;  set the same space around the contents of the box */
    padding: 1rem;
    /* width; the element should occupy the half of the available width */
    width: 25%;
    /* background-color; */
    background-color:#f3f2fc;
    /* border-radius; */
    border-radius: 1rem;
    position: relative;
    left: 5rem;
    bottom: 1rem;
   
    text-align: center;

    
}

.form-title {
    /* font-weight; */
    font-weight: lighter;
    
}

.form-input {
    /* display; the element should be type of element which occupy the entire available place */
    display: 100%;
    /* width; the element should occupy the half of the available width */
    width: 80%;
    /* padding; */
    padding: 0.9em;
    /* margin-top; */
    margin-top: 1.2em;
    /* border; we don't want border here*/ 
    border: 0px solid #000;
    /* border-radius; */
    border-radius: 0.7em;
    outline: none;
    height: 3rem;
    
} 
.form-input--text {
    /* height; */
    height: 100px;
}
  .form-input:focus { 
      /* pseudo class:focus - It is generally triggered when the user clicks or taps on an element or selects it with the keyboard's "tab" key */
      /* border; */
    border: 1px solid black;
  }
  h1{
    text-align: center;
    margin-top: 5%; 
    

  }
.submit-button {
    display: inline-block;
    /* border; we don't want border here*/
    border: 0px solid #000 ; 
    /* border-radius; */
    border-radius: 2em;
    /* background-color; pick color from design; You can use color picker build in developer tool*/
    background-color: rgb(222, 201, 255);
    /* margin-top; */
    margin-top: 2em;
    margin-bottom: 1em;
    /* padding; */
    padding: 1em 5em;
    /* cursor; set the value of the cursor property that changes the arrow to a clicking hand */
    cursor: pointer;
    /* text-transform; set text with uppercase */
    text-transform: uppercase;
    /* color; */
    color: purple;

    font-weight: bold;
}

.hide-label {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
 }
 