
/* Global */

/* Sections */
.container {
    margin: 0 -20rem;
    padding: 7rem 40rem;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
 }

/* Logo */
.logo-box {
    float: left;
    margin: 0 8rem;
}

.logo {
    width: 80%
}

/* Top wave image */
.top-wave {
    background-image: url(/img/top-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top -350px;
}

.move-forward-icon {
    transform: rotate(180deg);
}

/* topography */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");

p, 
.paragraph {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.6;
}

/* utils */

.u-center-text {
    text-align: center;
}

.u-margin--mini {
    margin: 1rem 0;
}

.u-margin--small {
    margin: 2rem 0;
}

.u-margin--medium {
    margin: 4rem 0;
}

/* Components: preamble */
.module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  .module p {
    margin: 0;
  }
  
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
  }

  /* Components: read more button */
  .read-more-button {
    float: right;
    display: block;
}

.read-more-button span,
.read-previous-button span {
    color: #7a24ab;
    font-weight: 700;
    position: relative;
    top: -.8rem;  
}

/* Components: slider */
.slider {
    position: fixed;
    right: 5%;
    top: 40%;
}

.slider a:link {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 1rem;
    background-color: #c5c1f1;
}

.slider a:link:hover {
    background-color: #37096d;
}