/* Normalization */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    outline-width: 0;
}

/* Topography */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

p,
.paragraph {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.6;
}


/* Utilities */ 
.u-center-text {
    text-align: center;
}

.u-margin--small {
    margin: 2rem 0;
}

.u-margin--medium {
    margin: 4rem 0;
}

/* Sections */
.container {
    margin: 0 -20rem;
    padding: 7rem 40rem;
}


/* Clearfix */
.clearfix::after { 
    content: "";
    display: table;
    clear: both;
 }

/* Logo */
.logo-box {
    float: left;
    margin: 0 8rem;
}

.logo {
    width: 80%
}

/* Top wave image */
.top-wave {
    background-image: url(/img/top-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top -350px;
}

/* Move forward icon */

.move-forward-icon {
    transform: rotate(180deg);
}

/* button */
.read-more-button {
    float: right;
    display: block;
}
.read-more-button span,
.read-previous-button span {
    color: #7a24ab;
    font-weight: 700;
    position: relative;
    top: -.8rem;
}

/* preamble */
.module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  .module p {
    margin: 0;
  }
  
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
  }